@import url(https://fonts.google.com/specimen/Playfair+Display);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.app {
  position: relative;
}

body {
  background-color: black;
  overflow-y: auto;
}

#root {
  position: relative;
}

.navbar {
  background-color: rgb(46, 46, 46);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

h3{
  color: white;
}

.sort-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

select {
  color: white;
  margin: 4px;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  margin-left: 5px;
  height: 25px;
}

.article-card {
  color: white;
  margin: 4px;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
}

.article-card h2 {
  padding-top: 10px;
  margin: 10px;
}

.article-card h4 {
  margin: 5px;
  margin-left: 10px;
}

.article-card p {
  margin-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
  /* font-family: 'Playfair display'; */
  font-size: 0.8rem;
}

.error-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.error-page a {
  color: white;
  font-size: 0.7rem;
}

.error-page h3 {
  text-align: center;
}

.overall-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80vh;

}

.overall-loading h3 {
  font-size: 1rem;
  margin-right: 10px;
}

.loader {
  border: 4px solid #8f8f8f; /* Light grey */
  border-top: 4px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.vote-divider {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin: 4px;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.vote-divider button {
  border: none;
  background-color: rgb(46, 46, 46);
  color: rgba(100%, 0%, 0%, 0);
  text-shadow: 0 0 0 white;
  cursor: pointer;
}

.vote-divider .active {
  color: rgba(100%, 0%, 0%, 0);
  text-shadow: 0 0 0 #2f80ed;;
}

.card-link {
  text-decoration-line: none;
  flex-grow: 1;
}

.card-link:hover {
  text-decoration: underline;
  color: white;
}

.account-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-log img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  padding: 20px;
}

.account-log h4 {
  color: white;
  padding: 10px;
}

.account-log button {
  border-radius: 5px;
  height: 5vh;
  width: 50vw;
  background-color: rgb(46, 46, 46);
  color: white;
}

.log-in-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 80vh;
  font-size: 1rem;
}

.log-in-input input {
  background-color: rgb(88, 88, 88);
  border-radius: 5px;
  height: 5vh;
  width: 50vw;
  margin-bottom: 20px;
  color: white;
  font-size: 1rem;
}

.log-in-input input::placeholder {
  color: white;;
}

.log-in-input button {
  border-radius: 5px;
  height: 5vh;
  width: 50vw;
  background-color: rgb(46, 46, 46);
  color: white;
}

.err-on-login {
  color: white;
  font-size: 1.5vh;
  font-weight: lighter;
  text-align: center;
}

.comment-divider {
  color: white;
  margin: 4px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.comment-divider h4 {
  margin-left: 10px;
}

.log-in-prompt {
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, rgb(211, 86, 86), rgb(231, 58, 58));
  font-size: 0.6rem;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  margin: 5px;
}

.log-in-prompt-link {
  color: white;
}

.post-comment {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  z-index: 99;
  border-top: 1px solid rgb(168, 168, 168);
  animation: show-comment 2s ease forwards;
}

.post-comment input {
  margin-top: 5px;
  width: 95vw;
  height: 4vh;
  border-radius: 10px;
  padding: 2px;
  font-size: 1rem;
}

.post-comment button {
  margin-bottom: 10px;
  width: 95vw;
  margin-top: 5px;
  background-color: rgb(109, 109, 109);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 2px;
  height: 4vh;
} 

.post-comment h5 {
  color: #d1d1d1;
  font-weight: lighter;
  margin-bottom: 2px;
}

.post-comment button:hover {
  cursor: pointer;
}

.success-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    top: 50vh;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    z-index: 999;
    transition: all 0.5 ease ;
    display: flex;
    justify-content: center;
    animation: show-success 4s ease ;
}

.success-container h4 {
  background-color: rgb(118, 153, 65);
  color: rgb(0, 34, 0);
  border: 2px solid rgb(0, 34, 0);
  border-radius: 5px;
  width: fit-content;
  text-align: center;
  height: fit-content;
  padding: 5px;
}

.delete-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-align: center;
  top: 50vh;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  z-index: 999;
  transition: all 0.5 ease ;
  display: flex;
  justify-content: center;
  animation: show-success 4s ease ;
}

.delete-container h4 {
  background-color: rgb(209, 118, 102);
  color: rgb(124, 12, 12);
  border: 2px solid rgb(124, 12, 12);
  border-radius: 5px;
  width: fit-content;
  text-align: center;
  height: fit-content;
  padding: 5px;
}

@keyframes show-success {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(10000%);
  }
}

@keyframes show-comment {
  0% {
    transform: translateY(1000px); 
  }
  100% {
    transform: translateY(0px); 
  }
}


.all-list-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style-type: none;
}

.all-news-list  {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 32vw;
  margin: 5px;
  background-color:rgb(46, 46, 46);
  min-height: 20vh;
}

.all-news-list:hover {
  box-shadow: 0 2px 2px 2px rgba(216, 216, 216, 0.315)
}

.all-news-list h3 {
  padding: 5px;
  margin-bottom: 20px;
  background-color:rgb(46, 46, 46);
  color: white;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.all-news-list h5 {
  bottom: 2px;
  right: 2px;
  padding: 2px;
  background-color:rgb(46, 46, 46);
  color: rgb(138, 138, 138);
}

.all-news-list h6 {
  bottom: 2px;
  left: 2px;
  padding: 2px;
  text-transform: capitalize;
  background-color:rgb(46, 46, 46);
}

.all-news-list h6:hover {
  text-decoration: underline;
  color: #2f80ed;
}

.news-card-lower {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.news-card-lower h5,h6 {
  border-radius: 5px;
  color: rgb(185, 185, 185);
}

.news-card-lower a {
  text-decoration: underline rgb(92, 92, 92);
}

.comments-list {
  color: white;
}

.comments-list ul{
  position: relative;
}

.comment-list-container {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 4px;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  
}

.comment-list-container img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.user-comment {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.user-comment h4 {
  margin-left: 5px;
  color: rgb(209, 209, 209);
}

.user-comment .icon {
  color: white;
}

.user-comment .icon:hover {
  color: red;
  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.comment-body-and-votes {
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 0.8rem;
}

.comment-body-and-votes p{
  padding-bottom: 5px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.title-navbar {
  display: flex;
  align-items: center;
}

#navbar__logo  {
  background:  linear-gradient(to top, #2f80ed 0%, #56ccf2 100%); 
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: list-item;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #2f80ed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  color: beige;
  background: #56ccf2; 
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); 
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); 
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: rgb(144, 153, 236);
  transition: all 0.3s ease;
}

@media screen and (max-width: 760px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    z-index: 1;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: rgb(46, 46, 46);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background: #2f80ed;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .all-list-items {
    display: inline-block;
    justify-content: center;
    list-style-type: none;
  }
  .all-news-list {
    border: 2px solid black;
    border-radius: 5px;
    width: 98vw;
    margin-top: 4px;
    height: fit-content;
    display: inline-flex;
  }

  .all-news-list:hover {
    box-shadow: 0 2px 2px 2px rgba(216, 216, 216, 0.315)
  }


  .all-news-list h3 {
    padding: 5px;
    margin-bottom: 20px;
  }

  .all-news-list h5 {
    bottom: 2px;
    right: 2px;
    padding: 2px;
  }

  .news-card-lower {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .log-in-input input {
    height: 5vh;
    width: 65vw;
  }
  
  .log-in-input button {
    height: 5vh;
    width: 65vw;
  }

  .account-log img {
    width: 150px;
    height: 150px;
  }


  .post-comment button {
    height: 4vh;
  }

  .post-comment input {
    height: 4vh;
  }
}
